html, body { 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: black; 
    color: white; 
}

/* navigation */

nav { 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    height: 4em; 
}

ul li{ 
    display: inline-block; 
    text-decoration: none; 
    list-style-type: none;
    margin-right: 50px;
}

.j-c-b { 
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    height: 51em; 
}

.j-c-c { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 51em; 
}

#s-1-1 { 
    display: flex; 
    justify-content: center;
    flex-direction: column; 
}


.page-button { 
    outline: none; 
    height: 40px; 
    width: 300px; 
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white; 
    font-weight: bold; 
    background-color: black; 
    border-color: white; 
    margin-top: 10px; 
}

.page-button:active { 
    border-style: outset; 
}

.page-button:hover { 
    background-color: white; 
    color: black; 
    transition-duration: .5s; 
}

#s-2-1 { 
    border-color: white; 
    border: 1px solid; 
    width: 80%; 
    height: 600px; 
}

#test-container {
    border-right: 1px solid; 
    width: 50%; 
}

#about-container { 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    margin-left: 50px; 
    margin-right: 50px; 
    width: 50%; 
}

#free-exam { 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    width: 100%; 
    height: 50%; 
    border-bottom: 1px solid; 
}

#premium-exam { 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    width: 100%; 
    height: 50%; 
}

.f-e-e { 
    margin-left: 20px; 
    margin-right: 40px; 
}